body {
	font-family: "Raleway", sans-serif;
	margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

h1 {
	color: #FFF; /* #0D2C40 */
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

nav {
	background-color: #00A6B3;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

a {
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

.option {
	color: #FFF; /* #F15B31 */
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	display: inline;
	text-decoration: none;
	margin-right: 20px;
	margin-left: 20px;
}

main {
	width: 850px;
	margin: 35px auto 35px;
}

.pageTitle {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
}

h3 {
	text-align: center;
}

div {
	text-align: center;
}

.score-title {
	margin-top: 40px;
	color: black;
	letter-spacing: 1px;
	font-family: "Raleway", sans-serif;
	text-align: center;
	margin-bottom: 20px;
}

.score-display {
	background: #666666;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	width: 80px;
	height: 20px;
	text-transform: uppercase;
	border-radius: 20px;
	letter-spacing: 1px;
	color: white;
	border: none;
	padding: 8px;
	padding-bottom: 13px;
	display: block;
	margin: 0 auto;
}

.inner-score {
	font-size: 20px;
	margin: 0 auto;
}

img {
    margin: 40px 8px 40px;
}

button {
	background: #F15B31;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	border: none;
	padding: 8px;
	display: block;
	margin: 0 auto;
	margin-bottom: 45px;
}

button:hover {
	box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

button:focus {
	outline-style: none;
}

footer {
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.copyright {
    float: left;
    font-family: "Raleway", sans-serif;
}

.message {
    float: right;
    font-family: "Raleway", sans-serif;
}

.name {
	color: #F15B31;
	font-weight: 700;
}
